<!DOCTYPE html>
<html lang="en">

<%- include('header.ejs') %>

<link rel='stylesheet' href='/stylesheets/user.css' />

<body class="container shadow bg">

<%- include('navbar.ejs') %>

<main class="container user_profile" role="main">
    <div class="row car_header">
        <div class="col col-span-6 text-left">
            <h3>RentAcar!</h3>
        </div>

        <div class="col col-span-6 text-right">
            <h3>User data</h3>
        </div>
    </div>

    <div class="row">
        <div class="col col-span-6 text-center">
            <div class="user">
                <i class="fa fa-user"></i>
            </div>
            <div class="user">
                <strong>Username:</strong> <%= userData.fullName %>
            </div>
            <div class="user">
                <strong>Adres-email:</strong> <%= userData.email %>
            </div>
            <a href='/catalog' class="btn btn-lg btn-secondary">
                Catalog
            </a>
        </div>
    </div>

    <br>
</main>

<%- include('footer.ejs') %>

</body>
</html>